@model WebNews.Models.News

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/shared/_LimitlessLayout.cshtml";
}

@section css{
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.16/dist/summernote.min.css" rel="stylesheet">


    <script src="~/LimitlessAssets/global_assets/js/plugins/editors/summernote/summernote.min.js"></script>
    <script src="~/LimitlessAssets/global_assets/js/plugins/forms/styling/uniform.min.js"></script>
    <script src="~/LimitlessAssets/global_assets/js/demo_pages/editor_summernote.js"></script>
    <script src="~/LimitlessAssets/global_assets/js/demo_pages/form_tags_input.js"></script>
    <script src="~/LimitlessAssets/global_assets/js/plugins/forms/tags/tagsinput.min.js"></script>
    <script src="~/LimitlessAssets/global_assets/js/plugins/forms/tags/tokenfield.min.js"></script>
    <script src="~/LimitlessAssets/global_assets/js/plugins/forms/inputs/typeahead/typeahead.bundle.min.js"></script>
    <script src="~/LimitlessAssets/global_assets/js/demo_pages/form_inputs.js"></script>

    <script src="~/LimitlessAssets/global_assets/js/plugins/ui/moment/moment.min.js"></script>
    <script src="~/LimitlessAssets/global_assets/js/plugins/pickers/daterangepicker.js"></script>
    <script src="~/LimitlessAssets/global_assets/js/plugins/pickers/anytime.min.js"></script>

    <script src="~/LimitlessAssets/global_assets/js/demo_pages/picker_date.js"></script>
    <script src="~/LimitlessAssets/global_assets/js/demo_pages/form_checkboxes_radios.js"></script>
    <script src="~/LimitlessAssets/global_assets/js/plugins/extensions/jquery_ui/interactions.min.js"></script>
    <script src="~/LimitlessAssets/global_assets/js/plugins/forms/selects/select2.min.js"></script>
    <script src="~/LimitlessAssets/global_assets/js/demo_pages/form_select2.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/LimitlessAssets/global_assets/js/demo_pages/uploader_bootstrap.js"></script>
    <script src="~/LimitlessAssets/global_assets/js/plugins/uploaders/fileinput/plugins/purify.min.js"></script>
    <script src="~/LimitlessAssets/global_assets/js/plugins/uploaders/fileinput/plugins/sortable.min.js"></script>
    <script src="~/LimitlessAssets/global_assets/js/plugins/uploaders/fileinput/fileinput.min.js"></script>


}
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" asp-controller="News" asp-area="Panel" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                    <div class="form-group row">
                        <label class="col-form-label col-lg-1">UserName will be added</label>
                        <div class="col-lg-10">
                            <input  type="text" class="form-control">
                            <span  class="text-danger"></span>
                        </div>
                    </div>
                </div>*@
            <div class="form-group">
                <div class="form-group row">
                    <label asp-for="SeoUrl" class="col-form-label col-lg-1"></label>
                    <div class="col-lg-10">
                        <input asp-for="SeoUrl" type="text" class="form-control">
                        <span asp-validation-for="SeoUrl" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-group row">
                    <label asp-for="Title" class="col-form-label col-lg-1"></label>
                    <div class="col-lg-10">
                        <input asp-for="Title" type="text" class="form-control">
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-group row">
                    <label asp-for="ShortDescription" class="col-form-label col-lg-1"></label>
                    <div class="col-lg-10">
                        <input asp-for="ShortDescription" type="text" class="form-control">
                        <span asp-validation-for="ShortDescription" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label>Tags</label>
                <div class="input-group">
                    <span class="input-group-prepend">
                        <span class="input-group-text"><i class="icon-price-tags"></i></span>
                    </span>
                    <input name="tags" multiple type="text" class="form-control tokenfield" data-fouc>
                </div>
            </div>

            <div class="form-group">
                <label>Choose Category</label>
                <select class="form-control select-multiple-drag" name="categoryId" multiple="multiple" asp-items="ViewBag.Categories" data-fouc>
                </select>
            </div>

            <div class="form-group">
                <div class="card">
                    <div class="card-header header-elements-inline">
                        <h5 class="card-title">Click to edit</h5>
                        <div class="header-elements">
                            <div class="list-icons">
                                <a class="list-icons-item" data-action="collapse"></a>
                                <a class="list-icons-item" data-action="reload"></a>
                                <a class="list-icons-item" data-action="remove"></a>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="form-group">
                            <button type="button" id="edit" class="btn btn-primary"><i class="icon-pencil3 mr-2"></i> Edit</button>
                            <button type="button" id="save" class="btn btn-success"><i class="icon-checkmark3 mr-2"></i> Save</button>
                        </div>

                        @*<div class="click2edit">
                            </div>*@
                        <textarea asp-for="Body" style="display: none" class="click2edit"></textarea>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-lg-1 col-form-label font-weight-semibold">Main Image</label>
                <div class="col-lg-10">
                    <input name="mainImage" type="file" class="file-input" data-fouc>
                    <span class="form-text text-muted">This is the main picture of this news and will be shown in Index,<code>Index-Picture</code>.</span>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-lg-1 col-form-label font-weight-semibold">Slider</label>
                <div class="col-lg-10">
                    <input name="images" type="file" class="file-input" multiple="multiple" data-fouc>
                    <span class="form-text text-muted">You can add a slider to this news,<code>It will be shown at the bottom of the news</code>.</span>
                </div>
            </div>
            


            <div class="form-group row">
                <label asp-for="PublishedDate" class="col-form-label col-lg-1"></label>
                <input asp-for="PublishedDate" type="datetime-local" value="@DateTime.Now.ToString("s")" placeholder="@DateTime.Now.ToString("s")" id="datepicker" class="datepicker input-group-text" style="margin: 0px 0px 0px 10px;">
            </div>
            <br />
            <div class="form-check form-check-switchery">
                <label class="form-check-label">
                    <input asp-for="IsPublished" value="true" type="checkbox" class="form-check-input-switchery" checked data-fouc>Is Published
                </label>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
