@model ApplicationUser;



@{
    Layout = null;
}

<div class="card-body">
    <div class="media">
        <div class="mr-3">
            @if (Model.ImageUrl != null)
            {
                <img src="~/images/UsersProfile/@Model.ImageUrl" width="38" height="38" class="rounded-circle" alt="@Model.UserName">
            }
            else
            {
                <img src="~/LimitlessAssets/global_assets/images/placeholders/placeholder.jpg" width="38" height="38" class="rounded-circle" alt="@Model.UserName">
            }
        </div>

        <div class="media-body">
            <div class="media-title font-weight-semibold">@Model.UserName</div>
            <div class="font-size-xs opacity-50">
                <i class="icon-pin font-size-sm"></i> &nbsp;@Model.City
            </div>
        </div>

        <div class="ml-3 align-self-center">
            <a asp-action="EditProfile" asp-controller="Users" asp-area="Panel" asp-route-userName="@Model.UserName" class="text-white"><i class="icon-cog3"></i></a>
        </div>
    </div>
</div>